.Dictionary {
    margin-top: 20px;
    margin-bottom: 30px;
}
.results {
    max-width: 90vh;
    text-align: initial;
    margin-right: 40px;
    margin-top: 25px;
}
.phonetics {
    font-style: italic;
    color: gray;
}